@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
   {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: " Mea Culpa Static", system-ui;
    }
body {
display: grid;
grid-template-rows: auto 1fr auto;
min-height: 100vh;
min-height: 100dvh;
}
.header {
background-color: pink;
display: flex;
padding: 1rem 2rem;
}
.header-title{
font-size: 1.5rem;
}
.languages {
display: flex;
gap: .5rem;
}
.lang-button {
background-color: transparent;
font-size: 1.25rem;
border: 0;
cursor: pointer;
}
.section {
padding-inline: 2rem;
margin-top: 2rem;
}
.footer {
background-color: pink;
padding: 1rem 2rem;
margin-top: 2rem;
}
